
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    box-sizing: border-box;
}

ul li{
    list-style: none;
}
