@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.heading-primary{
    z-index: 2;
    font-size: 5.5rem;
    text-transform: uppercase;
    text-shadow: -1px 1px #000;
}