section{
    background-color: #000;
    color: #fff;
}


.section-about{
    padding: 9rem;

    &__row{
        display: flex;
    }

    &__col:first-child{
        margin-right: 3rem;
        flex: 20%;
    }

    &__col:last-child{
        flex: 20%;
    }

}

.section-works{
    padding: 6rem 9rem 9rem 9rem;
}

.section-contact{
    padding: 6rem 9rem 9rem 9rem;
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba(#fff, .3) 0%,
                                    rgba(#fff, .3) 50%,
                                    transparent 50%) ,
                            url(../../src/img/book-img.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 3px;

    &__form {
        width: 40%;
        padding: 6rem 3rem 6rem 6rem;
    }
}