.section-about{
    padding: 9rem;
    background-color: #000;
    color: #fff;

    &__row{
        display: flex;
    }

    &__col:first-child{
        margin-right: 3rem;
        flex: 20%;
    }

    &__col:last-child{
        flex: 20%;
    }

}

.section-works{
    padding: 6rem 9rem 9rem 9rem;
    background-color: #000;
    color: #fff;
}