footer{
    color: #fff;
    background-image: url(../../src/img/footer-img.jpg);
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 80%;
    object-fit: cover;
    padding: 6rem 9rem 9rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a{
        color: #eee;
        font-size: 2rem;
        text-decoration: none;
        transition: all .3s;

        &:hover{
            text-decoration: underline;
        }

    }

}