@use  "../abstracts/mixins" as *;

.navigation{
    position: fixed;
    width: 100%;
    padding: 2rem 5rem;
    z-index: 5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__connect{
        font-size: .8rem;
        text-decoration: none;
        padding: .5rem 1rem;
        transition: all .3s;
        background-color: #fff;
        border: 1px solid transparent;
        color: #000;
        z-index: 9;
    
        @include respond(tab-port) { // width < 900?
            font-size: 1.3rem;
        }
        

        &--dark{
            transition: all 1s;
            background: #000;
            color: #fff;
        }
        
        &:hover{
            background-color: #111;
            color: #eee;
        }

    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        overflow: hidden;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
        &--show{
            opacity: 1;
            width: 100%;
        }

    }

    &__link{
        font-size: 4rem;
        color: #333;
        text-decoration: none;

        @include respond(phone) { // width < 900?
            font-size: 2.5rem;
        }
        
        &:hover{
            color: #000;
        }
    }

}